[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "regionalpcs"]
	path = regionalpcs
	url = https://github.com/tyeulalio/regionalpcs
